body {
    font-family: "Roboto", Sans-serif;
}
body.ndombi {
    background-color: #000;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: solid 1px #BBB;
    background: #E6F2FF;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #FFF;
}

footer ul {
    display: none;
}
footer ul.open {
    display: block;
}